/*task3 css*/
body{
	margin: 20px;
}
.container{
	border: 1px solid #999;
	padding: 20px;
	background: #eee;
	position: relative;
}
.container:after{
	content: "";
	display: block;
	clear: both;
}
.team{
	width: 158px;
	margin: 0;
	border:1px solid #999;
	float: left;
	padding: 20px;
}

.team img{
	float: left;
	margin-right: 10px;
}


article{
	border: 1px solid #999;
	padding: 20px;
	margin-left:220px;
	margin-right: 140px;
}
.members{
	width: 118px;
	border: 1px solid #999;
	float: right;
}
.members ul{
	margin-left: -20px;
	margin-bottom: -10px;
}
.members ul li{
	list-style: none;
	padding-bottom: 20px;
}
img {
	border: 1px solid #999;
	padding: 1px;
}