body{
	width: 980px;
	height: 1386px;
	padding: 0 44px;
	margin: 0 auto;
	background-color: #5d5d5d;
	font-size: 12px;
}
p,h2{
	margin: 0;
	padding: 0;
}
.clearfix:before,.clearfix:after{
content:"";
display:table;
}
.clearfix:after{
clear:both;
}
.clearfix{
*zoom:1;
}
.content{
	width: 892px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 45px;
}
header{
	margin-bottom: 35px;
	border-bottom: 2px solid #938e8c;
	font: 12px 黑体;
	position: relative;
}
.logo{
	width: 105px;
	padding-top: 49px;
	background-color: #D55D5C;
	color: #fff;
	padding-left: 5px;
}
.logo-tt{
	position: absolute;
	right: 0;
	bottom: 0;
}

.ppt-news{
	width: 641px;
	margin-right: 45px;
	float: left;
	position: relative;
}
.about{
	width: 204px;
	float: right;
	border-top: 2px solid #cc8091;
	font-family: 微软雅黑;
}
.about h2{
	font-size: 24px;
	text-decoration: underline;
	line-height: 40px;
}
.about_dec{
	color: #676767;
	line-height: 10px;
	font: 楷体;
}
.viewnum{
	font: italic  116px 微软雅黑;
	color: #75b86b;
}

.pre,.next{
	width: 191px;
	height: 301px;
	position: absolute;
	opacity: 0.7;
}
.pre{
	background-color: #2A513E;
	left: 0;
	top: 0;
}
.next{
	background-color: #864E59;
	right: 0;
	top: 0;
}
.what,.when,.how{
	float: left;
}
.what{
	width: 230px;
	margin-right: 20px;
}
.when{
	width: 205px;
	margin-right: 20px;
}
.how{
	width: 154px;
}
.art{
	width: 406px;
	margin-right: 20px;
	float: left;
}
.art_det{
	width: 458px;
	float: right;
}
footer{
	margin-top: 40px;
	padding-bottom: 40px;
	text-align: right;
	border-top: 1px solid #938e8c;
}